.page_label {
    margin-top: 40px;
}

.text-primary {
    color: green;
}

.display-1 {
    color: blue
}

.section1 {
    margin-top: 50px;
}

.small_cols {
    background-color: green;
    border: 2px white solid;
}