.page_label {
    margin-top: 40px;
}

.text-primary {
    color: green;
}

.display-1 {
    color: blue
}

.section1 {
    margin-top: 50px;
}

.small_cols {
    background-color: green;
    border: 2px white solid;
}

.dropdown_hover{
    --bs-dropdown-link-hover-bg: olive;
}

.search_button{
    --bs-btn-hover-bg: olive;
    border-color: olive;
}

.carousel_height{
    height: 500px;
}