@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Dosis:wght@200&family=Quicksand:wght@300&display=swap");

.small_cols {
  background-color: rgb(255, 255, 255);
  border: 2px white solid;
}

.dropdown_hover {
  --bs-dropdown-link-hover-bg: rgb(165, 165, 165);
}

.carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  height: 400px !important;
}

.carousel-inner {
  /* make sure your .items will get correct height */
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 50px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button:hover {
  opacity: 0.7;
}

h1,
.cursive {
  text-align: center;
  font-family: "Bad Script", cursive;
}

h3,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Quicksand", sans-ser;
}

.box {
  display: flex;
  align-items: center;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

.container {
  display: flex;
  justify-content: center;
}

.show-cart li {
  display: flex;
}

.contact_form {
  margin-left: 100px;
  margin-right: 100px;
}
